<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/songs">View All Songs</a>
      <a class="navbar-item" href="/songs/new">Add a Song</a>
    </div>
  </div>
</nav>