<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Cookbook</title>
</head>

<body>
<%- include("./partials/navbar.ejs") %>
  <h1>Welcome to Your Cookbook</h1>
  <p>A dynamic pantry for cooking enthusiasts!</p>

  <a href="/auth/sign-up">Sign up</a> or
  <a href="/auth/sign-in">Sign in</a>.


</body>

</html>