
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

/* public/stylesheets/style.css */

body {
    font-family: 'Joti One', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #9ac2ef;
}

h1 {
    font-family: 'Joti One', 'sans-serif'
}