<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pantry.name %></title>
  </head>
  <body>
      <%- include("../partials/navbar.ejs") %>
    <h1><%= pantry.name %></h1>
     <a href="/users/<%= user._id %>/foods/new">Add a New Food Item</a>
  </body>
</html>
