<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Cookbook</title>
</head>

<body>
  <%- include("../partials/navbar.ejs") %>
    <h1>Welcome to our Cooking Community!</h1>

    <ul>
      <% allUsers.forEach((user)=>{ %>
        <a href="/users/<%= user._id %>">
          <li>
            <%= user.username %>
          </li>
        </a>
        <% }); %>
    </ul>


</body>

</html>