<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= otherUsername %>'s Cookbook!
  </title>
</head>

<body>
  <%- include("../partials/navbar.ejs") %>
    <h1>Welcome to <%= otherUsername %>'s Cookbook!</h1>

    <ul>
      <% otherUser.forEach((pantry)=> { %>
        <li>
          <%= pantry.name %>
        </li>
        <% }); %>
    </ul>
      

</body>

</html>